@model IList<Microsoft.Azure.Search.Models.SearchResult<DocSearch.Controllers.Document>>

<h2>Search Results</h2>
<p>Total Results: @ViewBag.TotalResults</p>
<ul class="list">
    @foreach(var item in Model)
    {
        <li class="list-item">
            <h4 class="list-item-heading">
                <a href="@item.Document.Uri">@item.Document.FileName</a>
            </h4>
            <p class="list-item-text">@item.Document.Tags</p>          
            <p class="list-item-text">@item.Document.ContentType</p>          
            <p class="list-item-text">@(item.Document.Bytes / 1024) kb</p>  
        </li>
    }
</ul>